#app,#app2 {
    height: 100vh;
}
html {
    scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}
html,body{
    overflow-y:hidden;
}
.flip-list-move {
    transition: transform 1s;
}
.flip-list-item {
    display: inline-block;
    margin-right: 10px;
}
.flip-list-enter-active, .flip-list-leave-active {
    transition: all 1s;
}
.flip-list-enter, .flip-list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}
.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}