#app,#app2 {
    height: 100vh;
}
html {
    scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}
html,body{
    overflow-y:hidden;
}
.flip-list-move {
    transition: transform 1s;
}
