#app,#app2 {
    height: 100vh;
}
html {
    scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}
html,body{
    overflow-y:hidden;
}
.flip-list-move {
    transition: transform 1s;
}
.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}